.logo {
  display: block;
  height: 50px;
  width: 50px;
  margin-right: 16px;
  background-image: url("../../assets/Images/icon_one.png");
  background-size: cover; 
  background-position: center; 
  border: none !important;
}


/* src/Navbar.module.css */
